.jumbotron{
  text-align: center;
  background-color:  #b3d9ff;
}
.col-md-6 h2{
  text-align: center;
}
.projects {
  background-color: #b37700;
}
.background {
  background-color: #990000;
}
.about-me {
  text-align: center;
  background-color:  #b3d9ff;
}
body {
  background-color: #006666;
  font-family: 'Raleway', sans-serif;
}
.top {
  text-align: center;
}
.projects li {
  font-size: 2em;
}
.background li {
  font-size: 2em;
}
.interests {
  background-color:  #ffcccc;
  text-align: center;
}
.projects ul {
  border-top: 2px;
  border-style: solid;
  border-color: black;
  border-right: none;
  border-bottom: none;
  border-left: none;
}
.background ul {
  border-top: 2px;
  border-style: solid;
  border-color: black;
  border-right: none;
  border-bottom: none;
  border-left: none;
}
.background img {
  width: 150px;
  float: right;
}
.language {
  color: white;
}
