.col-md-6 h2{
  text-align: center;
}
.interests {
  padding: 30px;
  background-color:  #ffcccc;
  text-align: center;
}
.interest-list {
  background-color: #ffcccc;
  text-align: center;
  padding: 10px;
}
.full-interests {
  margin-bottom: 50px;
}
.projects {
  padding: 30px;
  background-color: #b37700;
  border: 10px;
  border-style: solid;
  border-color: #31B0D7;
}
.background {
  padding: 30px;
  background-color: #990000;
  border: 10px;
  border-style: solid;
  border-color: #31B0D7;
}
.about-me {
  padding: 30px;
  text-align: center;
  background-color:  #b3d9ff;
  border: 10px;
  border-style: solid;
  border-color: #31B0D7;
}
body {
  background-color: #006666;
  font-family: 'Fjalla One', sans-serif;
}
.top {
  padding: 30px;
  margin-top: 30px;
  text-align: center;
  background-color:  #b3d9ff;
  border-radius: 50px;
}
.projects li {
  font-size: 2em;
}
.background li {
  font-size: 2em;
}
.projects ul {
  border-top: 2px;
  border-style: solid;
  border-color: black;
  border-right: none;
  border-bottom: none;
  border-left: none;
}
.background ul {
  border-top: 2px;
  border-style: solid;
  border-color: black;
  border-right: none;
  border-bottom: none;
  border-left: none;
}
.background img {
  width: 400px;
  float: left;
}
.language {
  color: white;
}
.interest-list ol {
  border-top: 2px;
  border-style: solid;
  border-color: black;
  border-right: none;
  border-bottom: none;
  border-left: none;
}
.me {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.top h1 {
  font-size: 10em
}
.red {
  color: red;
}
.list-img {
  float: right;
  width: 100px;
}
.top img:first-child {
  float: left;
  width: 200px;
}
.top img:nth-of-type(2) {
  float: right;
  width: 200px;
}
.projects a {
  color: #006666;
}
.top h2 {
  letter-spacing: 10px;
}
.p-b {
  border-radius: 50px;
}
